@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutNori.cshtml";
}

<section class="well-md">
    <div class="container">
        <div class="row flow-offset-1">

            <div class="col-sm-6 col-md-4">
                <h1>Nori</h1>
                <div class="image-wrap offset-5"><img src="@Url.Content("~/Content/Assets/images/me.png")" alt=""></div>
                <h5>Quality. Passion. Pride.</h5>
                <p>Khát khao đáp ứng cho các khách hàng những bữa trưa nhanh, tiện lợi, giá cả hợp lý và đủ chất.</p>

                <p>In collaboration with working background the kitchen creates modern, seasonal and focused on your pleasure dishes.</p>
                <a href="/c/about" class="btn btn-primary btn-sm">Learn more</a>
            </div>

            <div class="col-sm-6 col-md-7 col-md-offset-1">
                <h1>Why Us</h1>
                <!-- Index List -->
                <ul class="index-list offset-5">
                    <li>
                        <h5><a href="#">Thức ăn</a></h5>
                        <p>We offer you not only the best recipes of typical Italian dishes, but also the mood of many things: interior, music and just Italian air!</p>
                    </li>
                    <li>
                        <h5><a href="#">Chất lượng</a></h5>
                        <p>We provide you with the mix of fresh seasonal ingredients, refined goods and the best recipes and techniques.</p>
                    </li>
                    <li>
                        <h5><a href="#">Phục vụ</a></h5>
                        <p>We have only carefully sourced and seasonal ingredients in our disposal to make rustic dishes.</p>
                    </li>
                    <li>
                        <h5><a href="#">Những khoảnh khác không thể quên</a></h5>
                        <p>We provide you with daily self-made bread, sourdough pizza, roasted fish-meat-vegetables and many more.</p>
                    </li>
                </ul>
                <!-- END Index List -->
            </div>

            

        </div>
    </div>
</section>

<div class="container reset-font-size"><hr class="line"></div>

<section class="well-md">
    <div class="container">
        <h1>Meet our team</h1>
        <div class="row offset-5 flow-offset-1 text-center text-md-left">

            <div class="col-xs-6 col-md-3">
                <div>
                    <img src="@Url.Content("~/Content/Assets/images/page-02_img02.jpg")" alt="">
                    <h5><a href="#">Mark Johnson</a></h5>
                    <p>Mark is THE Chef with no doubt. He is the heart of our restaurant and he is the one who brings the spirit and soul into it.</p>
                </div>
            </div>

            <div class="col-xs-6 col-md-3">
                <div>
                    <img src="@Url.Content("~/Content/Assets/images/page-02_img03.jpg")" alt="">
                    <h5><a href="#">Eva Adamson</a></h5>
                    <p>Sous-Chef Eva is an experienced cook with a long list of awards, prizes and trophies.</p>
                </div>
            </div>

            <div class="col-xs-clear col-xs-6 col-md-release col-md-3">
                <div>
                    <img src="@Url.Content("~/Content/Assets/images/page-02_img04.jpg")" alt="">
                    <h5><a href="#">Sam Kromstain</a></h5>
                    <p>He establishes books for food lovers, gives interviews, comes to the most famous tv shows. He is a real celebrity!</p>
                </div>
            </div>

            <div class="col-xs-6 col-md-3">
                <div>
                    <img src="@Url.Content("~/Content/Assets/images/page-02_img05.jpg")" alt="">
                    <h5><a href="#">Olivia Grosh</a></h5>
                    <p>Olivia can cook the best Italian dish you have ever eaten in your life!</p>
                </div>
            </div>

        </div>
    </div>
</section>