@model IEnumerable<Biz4CMS.ViewModels.BriefArticleDto>

<div class="row" style="position: relative;">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="article-thumbnail">
                <a href="@Url.Content(item.PageURL)">
                    <img src="/ImageBrowser/CropImage?w=300&h=160&path=@Url.Content(item.MainImage)" alt="@item.Title" class="article-img-thumbnail">
                </a>
                <div class="caption">
                    <h4><a href="@Url.Content(item.PageURL)">@item.Title</a></h4>
                    @*<p>@item.Description</p>*@
                    @if(!string.IsNullOrEmpty(@item.ButtonLink)) {
                        <div><a class="btn btn-nori" href="@Url.Content(item.ButtonLink)">@item.ButtonName</a> </div>
                    }
                </div>
            </div>
        </div>
    }
</div>
