@model IEnumerable<Biz4CMS.ViewModels.ProductCategory>

@{
    ViewBag.Title = "Thực đơn";
    Layout = "~/Views/Shared/_LayoutNori.cshtml";
}


@{  var i = 1;
    var preCat = 0;
    var CakeFillers = (List<Biz4CMS.Models.CakeFiller>)ViewData["CakeFillers"];
}


@foreach (var item in Model)
{   
    <section class="well-md">
            <div class="container">
                <h1>@item.CategoryName</h1>
                
                @if (item.NumofItem == 1) {
                    <div class="row offset-3">
                        <div class="col-sm-9">
                            @Html.Partial("_productItem", item.Products[0])
                        </div>
                    </div>
                } else if (item.NumofItem % 3 == 0 || item.NumofItem > 6) {
                    <div class="row offset-5 flow-offset-1">
                        @foreach(var product in item.Products){
                            <div class="col-sm-4">                
                                @Html.Partial("_productItem3", product)
                            </div>
                        }                       
                    </div>
                } else {
                    <div class="row offset-1 flow-offset-1">

                        <div class="col-sm-6 col-lg-5">

                            @for(var j =0 ; j < item.NumofItem / 2 + (item.NumofItem % 2 ==0 ? 0 : 1); j++){
                                var product = item.Products[j];
                                @Html.Partial("_productItem2", product)
                            }
                        </div>

                        <div class="col-sm-6 col-lg-offset-1">
                            @for (var k =  item.NumofItem / 2 + (item.NumofItem % 2 ==0 ? 0 : 1); k < item.NumofItem ; k++ ){
                                var product = item.Products[k];
                                @Html.Partial("_productItem2", product)                           
                            }        
                        </div>
                    </div>
                }
                

                

            </div>
    </section>
    <div class="container reset-font-size"><hr class="line"></div>
}                


<section class="main-content hide">
    <div class="container">
        <div class="product_box">
            <div class="row">
                <div class="col-md-12" id="productmenu">
                    <ul>
                        @{var preCat1 = -1; }
                        @foreach (var item in Model)
                        {
                           
                            if (preCat1 != item.CategoryId)
                            {
                                @:<li><a href= "#@item.CategoryName" >@item.CategoryName</a></li>
                                preCat1 = item.CategoryId;
                            }
                        }
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-md-push-9 col-sm-5 col-sm-push-7 col-xs-12" data-sticky_column="">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Đơn hàng</h3>
                            <div class="alert alert-success" style="display:none" id="success-alert-cart">
                                <strong>Thông báo! </strong>
                                <span id="alert-content-cart"></span>
                            </div>
                            <table class="cart-view">
                                @if (ViewBag.Cart.CartItems != null)
                                {
                                    var CartItems = (List<Biz4CMS.Models.Cart>)ViewBag.Cart.CartItems;
                                    foreach (var item in CartItems)
                                    {
                                        <tr id="row-@item.RecordId">
                                            <td>
                                                <div class="product-name">
                                                    <strong>@item.Product.Name</strong>
                                                    <span>@item.ListCakeName</span>
                                                </div>
                                                <div>
                                                    <strong>@item.ListCakeName</strong>
                                                </div>
                                                <div id="item-count-@item.RecordId">
                                                    <input type="number" min="1" max="100" value="@item.Count" class="quantity">
                                                    <span class="price"> x @string.Format("{0:0,0}", item.Price) VNĐ</span>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="#" class="removeLink" data-id="@item.RecordId">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }
                                <tr>
                                    <td colspan="2" class="footer-cart">
                                        <b>Tổng cộng</b>
                                        <div id="cart-total">@string.Format("{0:0,0}", ViewBag.Cart.CartTotal) VNĐ</div>
                                        <button type="submit" class="btn btn-nori" id="submit">
                                            Thanh toán
                                        </button>
                                        <span style="display:none;" id="carttotal">@ViewBag.Cart.CartTotal</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>



<!-- Modal -->
<div id="myModal" class="modal fade hide" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Các loại nhân tự chọn  <b id="maxchoise">Tối đa: </b></h4>
                <div class="alert alert-success" style="display:none" id="success-alert-cake">
                    <strong>Thông báo! </strong>
                    <span id="alert-content-cake"></span>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <table width="100%" border="0" style="border:none" id="cake">
                            @foreach (var filler in CakeFillers)
                            {
                                <tr>
                                    <td>
                                        <input style="margin-top:12px;" data-name="@filler.Name" data-price="@filler.Price" type="checkbox" name="chkCakeFiller[]" value="@filler.CakeFillerId" />
                                    </td>
                                    <td><img width="60" src="/ImageBrowser/CropImage?path=@filler.FillerImage.Replace("~/content/images/","")" class="" alt="@filler.Name" /></td>
                                    <td style="vertical-align:middle">
                                        @filler.Name

                                    </td>
                                    <td>
                                        @string.Format("{0:0,0}", filler.Price) VND
                                    </td>

                                </tr>
                            }


                        </table>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="addCakeFiller">Add</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div id="myModalDetail" class="modal fade hide" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="border-bottom:none!important">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id="myProductDetail">

            </div>
        </div>

    </div>
</div>
<script>
    function showAlert(divid, idcontent, content) {
        $("#" + divid).alert();
        $('#' + idcontent).text(content);
        $("#" + divid).fadeTo(10000, 500).slideUp(800, function () {
            $("#" + divid).slideUp(800);
        });
    }
    function showDetail(productid) {
        $.get("/home/ProductDetail/" + productid, function (data) {
            console.log(data);
            $("#myProductDetail").html(data);
            $("#myModalDetail").modal('show');
        })
    }
    $(function () {

        $(".quantity").change(function () {
            var rlist = [];
            var qlist = [];
            $(".removeLink").each(function () {
                rlist.push($(this).attr("data-id"));
            });
            $(".quantity").each(function () {
                qlist.push($(this).val());
            });
            if (rlist.length > 0) {
                // Perform the ajax post
                $.post("/ShoppingCart/UpdateCart", $.param({ "rlist": rlist, "qlist": qlist }, true),
                    function (data) {
                        // Successful requests get here
                        // Update the page elements
                        var total = data.CartTotal.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        $('#cart-total').text(total);
                        $('#carttotal').text(data.CartTotal);
                        //$('#update-message').text(data.Message);
                        showAlert("success-alert-cart", "alert-content-cart", data.Message);
                        $('#cart-status').text(data.CartCount);
                    });
            }
        });

        $('#submit').click(function () {
            var total = $('#carttotal').text();
            if (total == "0" || total == undefined) {
                showAlert("success-alert-cart", "alert-content-cart", "Chọn sản phẩm trước khi thanh toán.");

            } else {
                //$.post("/ShoppingCart", { "total": total }, function (data) {
                //    if (data.id != '') {
                //        location.href = "/shoppingcart/complete/" + data.id;
                //    }
                //});
                location.href = "/order";
            }

        });

        $(".removeLink").click(function () {
            // Get the id from the link
            var recordToDelete = $(this).attr("data-id");
            if (recordToDelete != '') {
                // Perform the ajax post
                $.post("/ShoppingCart/RemoveFromCart", { "id": recordToDelete },
                    function (data) {
                        // Successful requests get here
                        // Update the page elements
                        if (data.ItemCount == 0) {
                            $('#row-' + data.DeleteId).fadeOut('slow');
                        } else {
                            $('#item-count-' + data.DeleteId).text(data.ItemCount);
                        }
                        $('#cart-total').text(data.CartTotal);
                        $('#carttotal').text(data.CartTotal);
                        //$('#update-message').text(data.Message);
                        showAlert("success-alert-cart", "alert-content-cart", data.Message);
                        $('#cart-status').text(data.CartCount);
                    });
            }
        });

        var MaxFiller = $("#MaxFiller").val();
        var ProductId = $("#ProductId").val();
        var prouctPrice = $("#ProductPrice").val();
        $("#maxchoise").text("Tối đa: " + MaxFiller);
        function updateCounter(chk) {
            var len = $("input[name='chkCakeFiller[]']:checked").length;

            if (len > MaxFiller) {
                chk.checked = false;
                showAlert("success-alert-cake", "alert-content-cake", 'Bạn đã chọn tối đa số nhân quy định!');
            }
        }

        $("#cake tr").click(function (event) {
            if (event.target.type !== 'checkbox') {
                $(':checkbox', this).trigger('click');
            }
        })

        $("input[name='chkCakeFiller[]']").on("change", function () {
            updateCounter(this);
        });
        $("#addCakeFiller").click(function () {
            var chkCake = $("input[name='chkCakeFiller[]']:checked").map(function (_, el) {
                return $(el).val();
            }).get();

            var chkCakeName = $("input[name='chkCakeFiller[]']:checked").map(function (_, el) {
                return $(el).attr("data-name");
            }).get();

            var chkCakePrice = $("input[name='chkCakeFiller[]']:checked").map(function (_, el) {
                return $(el).attr("data-price");
            }).get();

            var price = parseInt(prouctPrice);
            $.each(chkCakePrice, function () {
                price += parseInt(this);
            });

            $.get("/ShoppingCart/AddToCart/" + ProductId + "?listCakeFiller=" + chkCake + "&listCakeName=" + chkCakeName + "&price=" + price, function (data) {
                $('#myModal').modal('toggle');
                location.href = "/Product";
            });


        })
    })
</script>


