@model IEnumerable<Biz4CMS.ViewModels.ProductCat>

@{
    ViewBag.Title = "Product order ";
    Layout = "~/Views/Shared/_LayoutNori.cshtml";
}

<style>
    #limheight {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3; /*3 is just placeholder -- can be anything*/
    }

        #limheight li {
            display: inline-block;
            padding-bottom: 20px;
        }
</style>


@{  var i = 1;
  var preCat = 0;
  var CakeFillers = (List<Biz4CMS.Models.CakeFiller>)ViewData["CakeFillers"];
}


<section class="main-content">
    <div class="container">
        <div class="row" style="position: relative; padding-top:10px; padding-bottom:10px;">
    
            <div class="col-md-4 col-sm-push-8" data-sticky_column="">
                <div class="row">
                    <h3>Thông tin giỏ hàng</h3>

                    <div id="update-message">
                    </div>
                    <table width="100%">
                        <tr>
                            <th>
                                Tên sản phẩm
                            </th>
                           
                            <th>
                                Số lượng
                            </th>
                            <th>
                                Giá (VND)
                            </th>
                            <th>
                            </th>
                        </tr>
                        @if (ViewBag.Cart.CartItems != null)
                        {
                            var CartItems = (List<Biz4CMS.Models.Cart>)ViewBag.Cart.CartItems;
                            foreach (var item in CartItems)
                            {
                                <tr id="row-@item.RecordId">
                                    <td>
                                        <a href="#"><strong>@item.Product.Name</strong></a>
                                        <br />
                                        @item.ListCakeName
                                    </td>
                                    
                                    <td id="item-count-@item.RecordId">
                                        <input type="number" min="1" max="100"
                                               value="@item.Count" class="form-control quantity">
                                    </td>
                                    <td align="right">
                                        @string.Format("{0:0,0}", item.Price)
                                    </td>
                                    <td>
                                        <a href="#" class="RemoveLink" data-id="@item.RecordId">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                        <tr>
                            <td>
                                <b>Tổng cộng</b>
                            </td>
                            <td></td>
                           
                            <td id="cart-total" align="right">
                                @string.Format("{0:0,0}", ViewBag.Cart.CartTotal)
                                <input hidden value="@ViewBag.Cart.CartTotal" id="carttotal" />
                            </td>
                            
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <button type="submit" class="btn btn-success" id="submit">
                                    Đăng ký mua hàng
                                </button>
                            </td>
                           
                        </tr>
                    </table>

                    
                </div>
                
                
            </div>
            <div class="col-md-8 col-sm-pull-4">

                @foreach (var item in Model)
                {

                    if (preCat != item.CategoryId)
                    {
                        @:<div style="clear:both;"><h3>@item.CategoryName </h3></div>
                        }
                    @Html.Partial("_productItem", item)

                    preCat = item.CategoryId;
                    i++;

                }
            </div>

    </div>
        </div>
</section>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Choose Your Dressing  <b id="maxchoise">Max: </b></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <table width="100%" border="0" style="border:none" id="cake">
                            @foreach (var filler in CakeFillers)
                            {
                                <tr>
                                    <td>
                                        <input style="margin-top:12px;" data-name="@filler.Name" data-price="@filler.Price" type="checkbox" name="chkCakeFiller[]" value="@filler.CakeFillerId" />
                                    </td>
                                    <td><img width="60" src="/ImageBrowser/CropImage?path=@filler.FillerImage.Replace("~/content/images/","")" class="" alt="@filler.FillerImage" /></td>
                                    <td style="vertical-align:middle">
                                        @filler.Name
                                        
                                    </td>
                                    <td>
                                        @string.Format("{0:0,0}", filler.Price) VND
                                    </td>
                                   
                                </tr>
                            }


                        </table>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="addCakeFiller">Add</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<script>
    $(function () {
        $(".quantity").change(function () {
            var rlist = [];
            var qlist = [];
            $(".RemoveLink").each(function () {
                rlist.push($(this).attr("data-id"));
            });
            $(".quantity").each(function () {
                qlist.push($(this).val());
            });
            if (rlist.length > 0) {
                // Perform the ajax post
                $.post("/ShoppingCart/UpdateCart", $.param({ "rlist": rlist, "qlist": qlist }, true),
                    function (data) {
                        // Successful requests get here
                        // Update the page elements

                        $('#cart-total').text(data.CartTotal);
                        $('#update-message').text(data.Message);
                        $('#cart-status').text(data.CartCount);
                    });
            }
        });

        $('#submit').click(function () {
            var total = $('#carttotal').val();
            $.post("/ShoppingCart", { "total": total }, function (data) {
                console.log(data);
                if (data.id!='') {
                    location.href = "/shoppingcart/complete/" + data.id;
                }
            });
            });

        $(".RemoveLink").click(function () {
            // Get the id from the link
            var recordToDelete = $(this).attr("data-id");
            if (recordToDelete != '') {
                // Perform the ajax post
                $.post("/ShoppingCart/RemoveFromCart", { "id": recordToDelete },
                    function (data) {
                        // Successful requests get here
                        // Update the page elements
                        if (data.ItemCount == 0) {
                            $('#row-' + data.DeleteId).fadeOut('slow');
                        } else {
                            $('#item-count-' + data.DeleteId).text(data.ItemCount);
                        }
                        $('#cart-total').text(data.CartTotal);
                        $('#update-message').text(data.Message);
                        $('#cart-status').text(data.CartCount);
                    });
            }
        });

        var MaxFiller = $("#MaxFiller").val();
        var ProductId = $("#ProductId").val();
        var prouctPrice = $("#ProductPrice").val();
        $("#maxchoise").text("Max: " + MaxFiller);
        function updateCounter(chk) {
            var len = $("input[name='chkCakeFiller[]']:checked").length;

            if (len > MaxFiller) {
                chk.checked = false;
                alert("You had max choise!");
            }
        }

        $("#cake tr").click(function (event) {
            if (event.target.type !== 'checkbox') {
                $(':checkbox', this).trigger('click');
            }
        })

        $("input[name='chkCakeFiller[]']").on("change", function () {
            updateCounter(this);
        });
        $("#addCakeFiller").click(function () {
            var chkCake = $("input[name='chkCakeFiller[]']:checked").map(function (_, el) {
                return $(el).val();
            }).get();

            var chkCakeName = $("input[name='chkCakeFiller[]']:checked").map(function (_, el) {
                return $(el).attr("data-name");
            }).get();

            var chkCakePrice = $("input[name='chkCakeFiller[]']:checked").map(function (_, el) {
                return $(el).attr("data-price");
            }).get();
            
            var price = parseInt(prouctPrice);
            $.each(chkCakePrice, function () {
                price += parseInt(this);
            });          

            $.get("/ShoppingCart/AddToCart/" + ProductId + "?listCakeFiller=" + chkCake + "&listCakeName=" + chkCakeName + "&price=" + price, function (data) {
                $('#myModal').modal('toggle');
                location.href = "/Product";
            });


        })
    })
</script>


