@model Biz4CMS.ViewModels.ProductDto
@using Kendo.Mvc.UI;
@{
    ViewBag.Title = "Create";
}

<script type="text/javascript">
    $(document).ready(function () {

        wndNewContact = $("#imgBrowser").kendoWindow({
            actions: ["Close", "Refresh"],
            Title: "Choose your file:",
            visible: false,
            dragable: true,
            modal: true,
            width: 800,
            height: 415
            //minHeight:300,

            //height:300

        }).data("kendoWindow")

        $("#upload").click(function () {
            wndNewContact.open();
            wndNewContact.center()
        });

        $("#imgBrowser").kendoImageBrowser({

            transport: {
                type: "imagebrowser-aspnetmvc",
                read: "/ImageBrowser/Read",
                destroy: {
                    url: "/ImageBrowser/Destroy",
                    type: "POST"
                },
                create: {
                    url: "/ImageBrowser/Create",
                    type: "POST"
                },
                thumbnailUrl: "/ImageBrowser/Thumbnail",
                uploadUrl: "/ImageBrowser/Upload",
                imageUrl: "~/Content/Images/{0}"
            },
            change: function () {
                //this.value(); //Selected image URL
                $("#MainImage").val(this.value());
                wndNewContact.close();
            }
        });
        if ($('#ProductId').val() == 0) {
            $('#submit').click(function () {

                var folder = $('#Folder').val();
                if (folder) {
                    var path = 'Products/' + folder;
                    $.ajax({
                        type: "POST",
                        url: "/ImageBrowser/Read/",
                        data: { path: path },
                        dataType: "json",
                        async: false,
                        success: function (data) {
                            //alert('data');
                            $('#ImagesJson').val(JSON.stringify(data));
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(xhr.status);
                            alert(thrownError);
                        }
                    });


                }
                //return false;
            });
        }
    });

</script>
@using (Html.BeginForm(ViewContext.RouteData.Values["Action"].ToString(), ViewContext.RouteData.Values["Controller"].ToString(), FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Product</legend>
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "col-sm-3 control-label no-padding-right" })
            <div class="col-sm-9">
                @Html.EditorFor(model => model.Name, new { @class = "form-control" })
                @Html.EditorFor(model => model.IsSpecial) Homepage
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Code, new { @class = "col-sm-3 control-label no-padding-right" })
            <div class="col-sm-9">
                @Html.EditorFor(model => model.Code, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Code)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "col-sm-3 control-label no-padding-right" })
            <div class="col-sm-9">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>
   
        <div class="form-group">
            @Html.LabelFor(model => model.MainImage, new { @class = "col-sm-3 control-label no-padding-right" })
            <div class="col-sm-9">
                @Html.EditorFor(model => model.MainImage, new { @class = "form-control" })<a href="#" class="k-tool-icon k-insertImage" id="upload" style="text-decoration:none;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                @Html.ValidationMessageFor(model => model.MainImage)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Price, new { @class = "col-sm-3 control-label no-padding-right" })
            <div class="col-sm-9">
                @Html.EditorFor(model => model.Price, new { @class = "number form-control" })
                @Html.ValidationMessageFor(model => model.Price)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.BasePrice, new { @class = "col-sm-3 control-label no-padding-right" })
            <div class="col-sm-9">
                @Html.EditorFor(model => model.BasePrice, new { @class = "number form-control" })
                @Html.ValidationMessageFor(model => model.BasePrice)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Content, new { @class = "col-sm-3 control-label no-padding-right" })
            <div class="col-sm-9">
                @(Html.Kendo().EditorFor(model => model.Content).Encode(false)
                    .ImageBrowser(imageBrowser => imageBrowser
                            .Image("~/Content/Images/{0}")
                            .Read("Read", "ImageBrowser")
                            .Create("Create", "ImageBrowser")
                            .Destroy("Destroy", "ImageBrowser")
                            .Upload("Upload", "ImageBrowser")
                            .Thumbnail("Thumbnail", "ImageBrowser"))
                )
            </div>

        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Active, new { @class = "col-sm-3 control-label no-padding-right" })
            <div class="col-sm-9">
                @Html.EditorFor(model => model.Active, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Active)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CategoryId, new { @class = "col-sm-3 control-label no-padding-right" })
            <div class="col-sm-9">
                @(Html.Kendo().DropDownListFor(model => model.CategoryId)
                          .DataTextField("Name")
                          .DataValueField("CategoryId")
                          .BindTo(@ViewBag.Categorys)
                )
                @Html.ValidationMessageFor(model => model.CategoryId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PageURL, new { @class = "col-sm-3 control-label no-padding-right" })
            <div class="col-sm-9">
                @Html.EditorFor(model => model.PageURL, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PageURL)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaxFiller, new { @class = "col-sm-3 control-label no-padding-right" })
            <div class="col-sm-9">
                @Html.EditorFor(model => model.MaxFiller, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaxFiller)
            </div>
        </div>
       
        <div class="editor-label">
            @Html.HiddenFor(model => model.ProductId)
            @Html.HiddenFor(model => model.ImagesJson)
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right"></label>
            <div class="col-sm-9">
                <input type="submit" value="Create or Update" class="btn btn-info" />
            </div>

        </div>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index")
    <div id="imgBrowser" style="display: none;">
    </div>
</div>
