<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="NoriExpress">
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no"/>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link href="@Url.Content("~/Content/Assets/css/font-awesome.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/Assets/css/material-icons.css")" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i&amp;subset=vietnamese" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="@Url.Content("~/Content/Assets/css/grid.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/Assets/css/style.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/Assets/css/camera.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/Assets/css/rd-mailform.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Assets/css/main.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/Assets/css/cart.css")">
    <script src="@Url.Content("~/Content/Assets/js/jquery.js")"></script>
    <script src="@Url.Content("~/Content/Assets/js/jquery-migrate-1.2.1.js")"></script> 
    <script src="@Url.Content("~/Content/Assets/js/device.min.js")"></script>
</head>
<body class="page">
    <header>
        <div id="stuck_container" class="stuck_container">
            <div class="container">
                <div class="brand">
                    <a href="/" class="brand_name">
                        <img src="@Url.Content("~/Content/Template-Images/logo/nori.png")" alt="Nori Express">
                    </a>
                </div>
                @{Html.RenderAction("TopMenu", "Home");}
            </div>
        </div>
        @RenderSection("slider", required : false)
        <div class="container reset-font-size"><hr class="line"></div>
    </header>
    <main>@RenderBody()</main>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h5 class="title">Hỗ trợ</h5>
                    <ol class="marked-list">        
                        <li><a href="">Phương thức mua hàng & thanh toán</a></li>
                        <li><a href="">Chính sách vận chuyển & giao hàng</a></li>
                        <li><a href="">Chính sách Đổi trả</a></li>
                    </ol>
                    <h5 class="title">Tin tức</h5>
                    <ol class="marked-list">
                        <li><a href="">Khuyến mãi tối thứ 7</a></li>
                        <li><a href="">Trò chuyện cùng Nori</a></li>
                        <li><a href="">Thẻ thành viên</a></li>
                    </ol>
                </div>
                <div class="col-sm-5">
                    <h5 class="title">Cửa hàng Nori</h5>
                    <ol class="marked-list no-marked">
                        <li><i class="fa fa-map-marker footer-icon"></i> 186 Phan Xích Long, phường 2, Quận Phú Nhuận</li>
                        <li><i class="fa fa-map-marker footer-icon"></i> 39 Tống Hữu Định, Phường Thảo Điền, Quận 2</li>
                        <li><i class="fa fa-map-marker footer-icon"></i> 93 Hồ Tùng Mậu, phường Bến Nghé, Quận 1</li>
                        <li><i class="fa fa-map-marker footer-icon"></i> 341 Nguyễn Tri Phương, Phường 5, Quận 10</li>
                        <li><i class="fa fa-map-marker footer-icon"></i> 33 Grand View B, Nguyễn Đức Cảnh, P. Tân Phong, Quận 7</li>
                    </ol>
                </div>
                <div class="col-sm-3">
                    <h5 class="title">Kết nối</h5>
                    <ol class="marked-list no-marked">
                        <li><i class="fa fa-facebook-square footer-icon"></i><a href=""> Facebook</a></li>
                        <li><i class="fa fa-twitter-square footer-icon"></i><a href=""> Twitter</a></li>
                        <li><i class="fa fa-envelope footer-icon"></i> <a href="mailto:trucchi@noriexpress.com">trucchi@noriexpress.com</a></li>
                    </ol>

                </div>
            </div>
            <div class="offset-3">
                &copy; <span>An Phong Co. Ltd 2016. Registered in Vietnam No.: 0313633836</span>
            </div>
        </div>
    </footer>

    <!-- Cart content -->
    <div class="cd-cart-container empty">
        <a href="#0" class="cd-cart-trigger">
            Giỏ hàng
            <ul class="count">
                <li>0</li>
                <li>0</li>
            </ul>
        </a>
        <div class="cd-cart">
            <div class="wrapper">
                <header>
                    <h2>Giỏ hàng</h2>
                    <!-- <span class="undo">Item removed. <a href="#0">Undo</a></span> -->
                </header>
                <div class="body">
                    <ul>
                        <!-- products added to the cart will be inserted here using JavaScript -->
                    </ul>
                </div>
                <footer>
                    <a href="/ShoppingCart/Index" class="checkout btn"><em>Thanh toán</em></a>
                </footer>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="@Url.Content("~/Content/Assets/js/script.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Assets/js/cart.js")"></script>
</body>
</html>
