@model Biz4CMS.ViewModels.ProductCat
<div class="col-md-4 productModel img-thumbnail" style="padding: 3px;">
    @if (!string.IsNullOrEmpty(Model.MainImage))
    {
        <a  onclick="showDetail(@Model.ProductId)">
            <img src="/ImageBrowser/CropImage?path=@Model.MainImage.Replace("~/content/images/","")" class="" alt="@Model.Name " />
        </a>
    }
    <div class="row" style="margin:5px;">
        <h4><a href="#">@Model.Name</a> </h4>
        <div style="padding-bottom:5px;">@string.Format("{0:0,0}", Model.Price) VND </div>
        <div>
            @if (Model.MaxFiller > 0)
            {
                <input hidden value="@Model.MaxFiller" id="MaxFiller" />
                <input hidden value="@Model.ProductId" id="ProductId" />
                <input hidden value="@Model.Price" id="ProductPrice" />
                <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#myModal">Add</button>

            }
            else
            {
                @Html.ActionLink("Add", "AddToCart", "ShoppingCart", new { id = Model.ProductId, count = 1, price = Model.Price }, new { @class = "btn btn-success btn-block" })

            }
        </div>
    </div>
    
</div>
