@model Biz4CMS.ViewModels.BriefProductDto

<!-- Product -->
                            <div class="product">
                               @if (!string.IsNullOrEmpty(Model.MainImage))
    {
        <a href="">
            <img src="/ImageBrowser/CropImage?w=470&path=@Url.Content(Model.MainImage)" class="product-img-thumbnail" alt="@Model.Name "/>
        </a>
    }
                                <div class="caption">
                                    <!-- Box -->
                                    <div class="box">
                                        <div class="box_left"><h5>@string.Format("{0:0,0}", Model.Price) VNĐ</h5>
@Html.ActionLink("Mua", "AddToCart", "ShoppingCart", new { id = Model.ProductId, count = 1, price = Model.Price }, new { @class="btn btn-primary btn-cart"})
                                        </div>
                                        <div class="box_cnt">
                                            <p class="small">Dinner</p>
                                            <h5><a href="#">@Model.Name</a></h5>
                                            <p>@Model.Description
</p>
                                        </div>
                                    </div>
                                    <!-- END Box -->
                                </div>
                            </div>
                            <!-- END Product -->

