@{
    ViewBag.Title = "Create";
}

@model Biz4CMS.Models.CakeFiller

<script type="text/javascript">
    $(document).ready(function () {
        kendoWindow = $("#imgBrowser").kendoWindow({
            actions: ["Close", "Refresh"],
            Title: "Choose your file:",
            visible: false,
            dragable: true,
            modal: true,
            width: 615
        }).data("kendoWindow").center();


        $("#upload").click(function () {
            $("#firebutton").val($(this).attr('id'));
            kendoWindow.open();
        });

        $("#imgBrowser").kendoImageBrowser({
            transport: {
                type: "imagebrowser-aspnetmvc",
                read: "/ImageBrowser/Read",
                destroy: {
                    url: "/ImageBrowser/Destroy",
                    type: "POST"
                },
                create: {
                    url: "/ImageBrowser/Create",
                    type: "POST"
                },
                thumbnailUrl: "/ImageBrowser/Thumbnail",
                uploadUrl: "/ImageBrowser/Upload",
                imageUrl: "~/Content/Images/{0}"
            },
            apply: function () {
                $("#FillerImage").val(this.value());
                kendoWindow.close();
            }
        });
    });
</script>
<div class="col-sm-12">
    @using (Html.BeginForm(ViewContext.RouteData.Values["Action"].ToString(), ViewContext.RouteData.Values["Controller"].ToString(),
    new { ReturnUrl = ViewBag.ReturnUrl },
    FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.ValidationSummary(true)
        <input type="hidden" id="firebutton" value="upload" />
        <div class="form-group">
            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Price)
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Price)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FillerImage)
            <div class="input-inline">
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.FillerImage, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FillerImage)
                </div>
                <div class="col-sm-3">
                    <a href="#" id="upload"><i class="fa fa-cloud-upload upload-image-icon"></i></a>
                </div>
            </div> 
        </div>
        <div class="editor-label">
            @Html.HiddenFor(model => model.CakeFillerId)
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <div class="text-center">
                <a href="@Url.Action("Index")">
                    <button type="button" class="btn btn-white"><i class="fa fa-reply"></i> Back to List</button>
                </a>
                <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Save changes</button>
            </div>
        </div>
    }
</div>
<div>
    <div id="imgBrowser" style="display: none;">
</div>


