<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <link rel="stylesheet" href="~/Areas/Admin/Scripts/plugins/kendo/kendo.common-bootstrap.min.css" />
        <link rel="stylesheet" href="~/Areas/Admin/Scripts/plugins/kendo/kendo.bootstrap.min.css" />
        <link rel="stylesheet" href="~/Areas/Admin/Scripts/plugins/kendo/kendo.custom.css" />
        <link rel="stylesheet" href="~/Areas/Admin/Scripts/plugins/kendo/icon-font.css" />
        <link rel="stylesheet" href="~/Areas/Admin/Content/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="~/Areas/Admin/Content/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="~/Areas/Admin/Content/animate.css" rel="stylesheet">
        <link rel="stylesheet" href="~/Areas/Admin/Scripts/plugins/iCheck/custom.css" rel="stylesheet">
        <link rel="stylesheet" href="~/Areas/Admin/Content/core.css" rel="stylesheet">
        <link rel="stylesheet" href="~/Areas/Admin/Content/style.css" rel="stylesheet">
        <script type="text/javascript" src="~/Areas/Admin/Scripts/jquery.min.js"></script>
    </head>
    <body>
        @*@if (HttpContext.Current.Session["role"] == null || HttpContext.Current.Session["role"].ToString() == "False")
        {
            Response.Redirect("/");
        }*@
        <div id="wrapper">
            <nav class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="nav-header">
                            <div class="profile-element"> 
                                <span>
                                    <img alt="epsi" src="~/Areas/Admin/Content/images/nori.png" class="logo" />
                                </span>
                            </div>
                            <div class="logo-element">
                                NORI
                            </div>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() + ViewContext.RouteData.Values["Action"].ToString() == "HomeIndex" ? "active" : "")">
                            <a href="@Url.Action("Index", "Home")">
                                <i class="menu-icon fa fa-cloud-upload"></i>
                                <span class="nav-label">Upload</span>
                            </a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "location" ? "active" : "")">
                            <a href="@Url.Action("Index", "Location")">
                                <i class="menu-icon fa fa-th"></i>
                                <span class="nav-label">Location</span>
                            </a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "shippinglocation" ? "active" : "")">
                            <a href="@Url.Action("Index", "ShippingLocation")">
                                <i class="menu-icon fa fa-th"></i>
                                <span class="nav-label">Shipping Location</span>
                            </a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "promotion" ? "active" : "")">
                            <a href="@Url.Action("Index", "Promotion")">
                                <i class="menu-icon fa fa-th"></i>
                                <span class="nav-label">Promotion</span>
                            </a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "article" ? "active" : "")">
                            <a href="@Url.Action("Index", "Article")">
                                <i class="menu-icon fa fa-th"></i>
                                <span class="nav-label">Blog</span>
                            </a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString().ToLower()  == "product" ? "active" : "")">
                            <a href="@Url.Action("Index", "Product")">
                                <i class="menu-icon fa fa-heart-o"></i>
                                <span class="nav-label">Product</span>
                            </a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() + ViewContext.RouteData.Values["Action"].ToString() == "MenuIndex" ? "active" : "")">
                            <a href="@Url.Action("Index", "Menu")">
                                <i class="menu-icon fa fa-bars"></i>
                                <span class="nav-label">Menu</span>
                            </a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "category" ? "active" : "")">
                            <a href="@Url.Action("Index", "Category")">
                                <i class="menu-icon fa fa-list"></i>
                                <span class="nav-label">Category</span>
                            </a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() + ViewContext.RouteData.Values["Action"].ToString() == "BannerIndex" ? "active" : "")">
                            <a href="@Url.Action("Index", "Banner")">
                                <i class="menu-icon fa fa-sliders"></i>
                                <span class="nav-label">Banner</span>
                            </a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() + ViewContext.RouteData.Values["Action"].ToString() == "QuickLinkIndex" ? "active" : "")">
                            <a href="@Url.Action("Index", "QuickLink")">
                                <i class="menu-icon fa fa-th-large"></i>
                                <span class="nav-label">QuickLink</span>
                            </a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "cakefiller" ? "active" : "")">
                            <a href="@Url.Action("Index", "CakeFiller")">
                                <i class="menu-icon fa fa-th"></i>
                                <span class="nav-label">Cake Filler</span>
                            </a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString().ToLower().Contains("order") ? "active" : "")">
                            <a href="@Url.Action("Index", "Order")">
                                <i class="menu-icon fa fa-list-alt"></i>
                                <span class="nav-label">Order</span>
                            </a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() + ViewContext.RouteData.Values["Action"].ToString() == "MessageIndex" ? "active" : "")">
                            <a href="@Url.Action("Index", "Message")">
                                <i class="menu-icon fa fa-comments"></i>
                                <span class="nav-label">Feedback</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div id="page-wrapper" class="gray-bg">
                <!-- Header -->
                <div class="row border-bottom">
                    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                        <div class="navbar-header">
                            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                        </div>
                        <ul class="nav navbar-top-links navbar-right">
                            <li>
                                <span class="m-r-sm text-muted welcome-message">Welcome,  @HttpContext.Current.User.Identity.Name</span>
                            </li>
                            <li>
                                <a class="dropdown-toggle count-info" href="/BO/Order">
                                    <i class="fa fa-envelope"></i> <span class="label label-warning" id="neworder">0</span>
                                </a>
                            </li>
                            <li>
                                @using (Html.BeginForm("LogOff", "Account", new { Area = "" }, FormMethod.Post, new { id = "logoutForm" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <a href="javascript:document.getElementById('logoutForm').submit()">
                                        <i class="fa fa-sign-out"></i>Logout
                                    </a>
                                }
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- End Header -->
                <!-- Breadcrum -->
                <div class="row wrapper border-bottom white-bg page-heading">
                    <div class="col-lg-12">
                        <h2></h2>
                        <ol class="breadcrumb">
                            <li>
                                <a href="@Url.Action("Index", "Home")">Admin</a>
                            </li>
                            <li>
                                @Html.ActionLink(ViewContext.RouteData.Values["controller"].ToString(), "Index")
                            </li>
                            <li class="active">@Html.ActionLink(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["action"].ToString())</li>
                        </ol>
                    </div>
                </div>
                <!-- End Breadcrum -->
                <!-- Body -->
                <div class="row white-bg full-bg">
                    @RenderBody()
                </div>
                <!-- End Body -->
            </div> 
        </div>

        <!-- Main Scripts -->
        <script type="text/javascript" src="~/Areas/Admin/Scripts/plugins/kendo/kendo.all.min.js"></script>
        <script type="text/javascript" src="~/Areas/Admin/Scripts/plugins/kendo/kendo.aspnetmvc.min.js"></script>
        <script type="text/javascript" src="~/Areas/Admin/Scripts/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/Areas/Admin/Scripts/jquery-ui-1.10.4.min.js"></script>
        <script type="text/javascript" src="~/Areas/Admin/Scripts/plugins/metisMenu/jquery.metisMenu.js"></script>
        <script type="text/javascript" src="~/Areas/Admin/Scripts/plugins/iCheck/icheck.min.js"></script>
        <script type="text/javascript" src="~/Areas/Admin/Scripts/main.js"></script>
        <script>
            $(function () {
                $.get("/bo/order/NotificationOrder").then(function (data) {
                    if (data.neworder) {
                        $("#neworder").text(data.neworder);
                    }
                })
            })
        </script>
    </body>
</html>
