@model Biz4CMS.Models.Article

<script type="text/javascript">
    $(document).ready(function () {
        kendoWindow = $("#imgBrowser").kendoWindow({
            actions: ["Close", "Refresh"],
            Title: "Choose your file:",
            visible: false,
            dragable: true,
            modal: true,
            width: 615
        }).data("kendoWindow").center();


        $("#upload,#upload1").click(function () {
            $("#firebutton").val($(this).attr('id'));
            kendoWindow.open();
        });

        $("#imgBrowser").kendoImageBrowser({
            transport: {
                type: "imagebrowser-aspnetmvc",
                read: "/ImageBrowser/Read",
                destroy: {
                    url: "/ImageBrowser/Destroy",
                    type: "POST"
                },
                create: {
                    url: "/ImageBrowser/Create",
                    type: "POST"
                },
                thumbnailUrl: "/ImageBrowser/Thumbnail",
                uploadUrl: "/ImageBrowser/Upload",
                imageUrl: "~/Content/Images/{0}"
            },
            apply: function () {
                if ($("#firebutton").val() == "upload1") {
                    $("#Banner").val(this.value());
                } else {
                    $("#MainImage").val(this.value());
                }
                kendoWindow.close();
            }
        });
    });
</script>
<div class="col-sm-12">
    @using (Html.BeginForm(ViewContext.RouteData.Values["Action"].ToString(), ViewContext.RouteData.Values["Controller"].ToString(),
    new { ReturnUrl = ViewBag.ReturnUrl },
    FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.ValidationSummary(true)
        <input type="hidden" id="firebutton" value="upload" />
        <div class="form-group">
            @Html.LabelFor(model => model.Title)
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PageURL)
            @Html.EditorFor(model => model.PageURL, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PageURL)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description)
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control" } )
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MainImage)
            <div class="input-inline">
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.MainImage, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MainImage)
                </div>
                <div class="col-sm-3">
                    <a href="#" id="upload"><i class="fa fa-cloud-upload upload-image-icon"></i></a>
                </div>
            </div>            
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Banner)
            <div class="input-inline">
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.Banner, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Banner)
                </div>
                <div class="col-sm-3">
                    <a href="#" id="upload1"><i class="fa fa-cloud-upload upload-image-icon"></i></a>
                </div>
            </div>   
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Content)
            @(Html.Kendo().EditorFor(model => model.Content).Encode(false)
            .ImageBrowser(imageBrowser => imageBrowser
                .Image("~/Content/Images/{0}")
                .Read("Read", "ImageBrowser")
                .Create("Create", "ImageBrowser")
                .Destroy("Destroy", "ImageBrowser")
                .Upload("Upload", "ImageBrowser")
                .Thumbnail("Thumbnail", "ImageBrowser"))
            )
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CategoryId)
            @(Html.Kendo().DropDownListFor(model => model.CategoryId)
              .DataTextField("Name")
              .DataValueField("CategoryId")
              .BindTo(@ViewBag.Categorys)
              .HtmlAttributes(new { @class = "form-control" })
            )
            @Html.ValidationMessageFor(model => model.CategoryId)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ButtonName)
            @Html.EditorFor(model => model.ButtonName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ButtonName)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ButtonLink)
            @Html.EditorFor(model => model.ButtonLink, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ButtonLink)
        </div>
        <div class="form-group">
            @Html.EditorFor(model => model.Active, new { htmlAttributes = new { @class = "i-checks" } })
            @Html.LabelFor(model => model.Active)
            @Html.ValidationMessageFor(model => model.Active)
        </div>
        <div class="editor-label">
            @Html.HiddenFor(model => model.ArticleId)
            @Html.HiddenFor(model => model.IsDeleted)
            @Html.HiddenFor(model => model.CreatedDate)
            @Html.HiddenFor(model => model.PublicDate)
            @Html.HiddenFor(model => model.Order)
            @Html.HiddenFor(model => model.Keyword)
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <div class="text-center">
                <a href="@Url.Action("Index")">
                    <button type="button" class="btn btn-white"><i class="fa fa-reply"></i> Back to List</button>
                </a>
                <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Save changes</button>
            </div>
        </div>
    }
<div>
<div>
    <div id="imgBrowser" style="display: none;"> </div>
</div>
