@model Biz4CMS.Models.Article

<script type="text/javascript">
    $(document).ready(function () {

        wndNewContact = $("#imgBrowser").kendoWindow({
            actions: ["Close", "Refresh"],
            Title: "Choose your file:",
            visible: false,
            dragable: true,
            modal: true,
            width: 800,
            height: 415
            //minHeight:300,

            //height:300

        }).data("kendoWindow")

        $("#upload,#upload1").click(function () {
            console.log($(this).attr('id'));
            $("#firebutton").val($(this).attr('id'));
            wndNewContact.open();
            wndNewContact.center()
        });

        $("#imgBrowser").kendoImageBrowser({

            transport: {
                type: "imagebrowser-aspnetmvc",
                read: "/ImageBrowser/Read",
                destroy: {
                    url: "/ImageBrowser/Destroy",
                    type: "POST"
                },
                create: {
                    url: "/ImageBrowser/Create",
                    type: "POST"
                },
                thumbnailUrl: "/ImageBrowser/Thumbnail",
                uploadUrl: "/ImageBrowser/Upload",
                imageUrl: "~/Content/Images/{0}"
            },
            change: function () {
                //this.value(); //Selected image URL
                if ($("#firebutton").val() == "upload1") {
                    $("#Banner").val(this.value());
                } else {
                    $("#MainImage").val(this.value());
                }
                wndNewContact.close();
            }
        });
    });
</script>
@using (Html.BeginForm(ViewContext.RouteData.Values["Action"].ToString(), ViewContext.RouteData.Values["Controller"].ToString(),
                                    new { ReturnUrl = ViewBag.ReturnUrl },
                                    FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)
    <input type="hidden" id="firebutton" value="upload" />
    
            <fieldset>

                <legend>Article</legend>
                <div class="form-group">
                    @Html.LabelFor(model => model.Title, new { @class = "col-sm-3 control-label no-padding-right" })
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.Title, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Title)
                    </div>

                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, new { @class = "col-sm-3 control-label no-padding-right" })
                    <div class="col-sm-9">                       
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Description)
                    </div>
                </div>
             
                <div class="form-group">
                    @Html.LabelFor(model => model.MainImage, new { @class = "col-sm-3 control-label no-padding-right" })
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.MainImage, new { @class = "form-control" })<a href="#" class="k-tool-icon k-insertImage" id="upload" style="text-decoration:none;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        @Html.ValidationMessageFor(model => model.MainImage)
                    </div>

                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Banner, new { @class = "col-sm-3 control-label no-padding-right" })
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.Banner, new { @class = "form-control" })<a href="#" class="k-tool-icon k-insertImage" id="upload1" style="text-decoration:none;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        @Html.ValidationMessageFor(model => model.Banner)
                    </div>

                </div>
               

                <div class="form-group">
                    @Html.LabelFor(model => model.Content, new { @class = "col-sm-3 control-label no-padding-right" })
                    <div class="col-sm-9">
                        @(Html.Kendo().EditorFor(model => model.Content).Encode(false)
                    .ImageBrowser(imageBrowser => imageBrowser
                            .Image("~/Content/Images/{0}")
                            .Read("Read", "ImageBrowser")
                            .Create("Create", "ImageBrowser")
                            .Destroy("Destroy", "ImageBrowser")
                            .Upload("Upload", "ImageBrowser")
                            .Thumbnail("Thumbnail", "ImageBrowser"))
                        )
                    </div>

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Active, new { @class = "col-sm-3 control-label no-padding-right" })
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.Active, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Active)
                    </div>

                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CategoryId, new { @class = "col-sm-3 control-label no-padding-right" })
                    <div class="col-sm-9">
                        @(Html.Kendo().DropDownListFor(model => model.CategoryId)
                          .DataTextField("Name")
                          .DataValueField("CategoryId")
                          .BindTo(@ViewBag.Categorys)
                        )
                        @Html.ValidationMessageFor(model => model.CategoryId)
                    </div>

                </div>
           
                <div class="form-group">
                    @Html.LabelFor(model => model.PageURL, new { @class = "col-sm-3 control-label no-padding-right" })
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.PageURL, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PageURL)
                    </div>

                </div>
              
                <div class="editor-label">
                    &nbsp;
                    @Html.HiddenFor(model => model.ArticleId)
                    @Html.HiddenFor(model => model.IsDeleted)
                    @Html.HiddenFor(model => model.CreatedDate)
                    @Html.HiddenFor(model => model.PublicDate)
                    @Html.HiddenFor(model => model.Order)
                    @Html.HiddenFor(model => model.Keyword)
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"></label>
                    <div class="col-sm-9">
                        <input type="submit" value="Create or Update" class="btn btn-info"/>
                    </div>

                </div>
            
            </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index")
    <div id="imgBrowser" style="display: none;"> </div>
</div>
