@model Biz4CMS.Models.LogOnModel

@{
    ViewBag.Title = "Log On";
    Layout = "~/Views/Shared/_LayoutNori.cshtml";
}
<section class="well-md">
    <div class="container">
        <h1>Đăng nhập</h1>
        @Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")
        @using (Html.BeginForm("LogOn", "Account", FormMethod.Post, new {@class = "rd-mailform offset-6"}))
        {
            <fieldset>
                <label data-add-placeholder="">
                    @Html.TextBoxFor(m => m.UserName, new { placeholder = "Tên đăng nhập" })
                    @Html.ValidationMessageFor(m => m.UserName)
                </label>
                <label data-add-placeholder="">
                    @Html.TextBoxFor(m => m.Password, new { @class="password", placeholder = "Mật khẩu" })
                    @Html.ValidationMessageFor(m => m.Password)
                </label>
                <div class="mfControls">
                    <button class="btn btn-primary btn-sm" type="submit">Đăng nhập</button>
                </div>
            </fieldset>
        }
    </div>
</section>
<script type="text/javascript">
    $(function () {
        $('input.password').focus(function(){
            $(this).attr('type', 'password'); 
        });
    });
</script>