@model Biz4CMS.Models.Category
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        document.getElementById("main-container").className = "main-container";
        document.getElementById("navbar-container").className = "navbar-container";
    });
</script>
@using (Html.BeginForm(ViewContext.RouteData.Values["Action"].ToString(), ViewContext.RouteData.Values["Controller"].ToString(), FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Category</legend>
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "col-sm-3 control-label no-padding-right" })
            <div class="col-sm-9">
                @Html.EditorFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "col-sm-3 control-label no-padding-right" })
            <div class="col-sm-9">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Tag, new { @class = "col-sm-3 control-label no-padding-right" })
            <div class="col-sm-9">
                @Html.EditorFor(model => model.Tag, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Tag)
            </div>

        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PageURL, new { @class = "col-sm-3 control-label no-padding-right" })
            <div class="col-sm-9">
                @Html.EditorFor(model => model.PageURL, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PageURL)
            </div>

        </div>

        <div class="editor-label">
            &nbsp;
            @Html.HiddenFor(model => model.CategoryId)
            @Html.HiddenFor(model => model.IsDeleted)
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right"></label>
            <div class="col-sm-9">
                <input type="submit" value="Create or Update" class="btn btn-info" />
            </div>

        </div>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>