@model Biz4CMS.Models.Article
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_LayoutNori.cshtml";
}
@if (Model.Banner != null)
{
    <div style="background-image: url(@Url.Content(Model.Banner));" id="node-1643" class="node node-home-page-slide node-promoted clearfix"></div>
}
<section class="main-content">
    <div class="container">
        <div class="row" style="position: relative;">
            <div class="col-md-8">
                <article class="post">

                    <div class="post-content">
                        <header class="entry-header  text-uppercase">

                            <h1 class="entry-title"><a href="#">@Model.Title</a></h1>

                        </header>
                        <div class="entry-content">
                            <p>
                                @Html.Raw(Model.Content)
                            </p>
                        </div>
                        <div>
                            @if (!string.IsNullOrEmpty(@Model.ButtonLink))
                            {
                                <p><a class="btn btn-nori" href="@Url.Content(Model.ButtonLink)">@Model.ButtonName</a> </p>
                            }

                        </div>
                    </div>

                </article>
                @if (ViewBag.RelatedArticles != null && ViewBag.RelatedArticles.Count > 0)
            {
                    <div class="panel-body">
                        <h3>
                            Related Articles
                        </h3>
                        <div class="relatedarticle">
                            <ul>
                                @foreach (var item in ViewBag.RelatedArticles)
                                {
                                    <li><a href="@Url.Content(item.Link)">@item.Title</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                }
            </div>

            @{Html.RenderAction("RightBox", "Home");}
    </div>
 </div>
</section>