@model Biz4CMS.Models.Article
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_LayoutNori.cshtml";
}
@if (Model.Banner != null)
{
    <div style="background-image: url(@Url.Content(Model.Banner));" id="node-1643" class="node node-home-page-slide node-promoted clearfix"></div>
}
<section class="well-md">
    <div class="container">
        <h1>@Model.Title</h1>
        <div class="row offset-5 flow-offset-1">
            <div class="col-md-4">
                <div class="image-wrap"><a href="@Url.Content(Model.PageURL)"><img src="@Url.Content(Model.MainImage)" alt="@Model.Title"></a></div>
                @if (ViewBag.RelatedArticles != null && ViewBag.RelatedArticles.Count > 0)
                {
                    <div class="article-related">
                        <h5>Bài viết khác:</h5>
                        <ol class="marked-list">
                            @foreach (var item in ViewBag.RelatedArticles)
                            {
                                <li><a href="@Url.Content(item.Link)">@item.Title</a></li>
                            }
                        </ol>
                    </div>
                }
            </div>
            <div class="col-md-8">
                @Html.Raw(Model.Content)
                @if (!string.IsNullOrEmpty(@Model.ButtonLink))
                {
                    <div class="hot-link"><a href="@Url.Content(Model.ButtonLink)"><i class="fa fa-hand-o-right"></i> @Model.ButtonName</a></div>
                }
            </div>
        </div>











<!--         <div class="row offset-5 flow-offset-1">
            <div class="col-md-3">
                <div class="image-wrap"><a href="@Url.Content(Model.PageURL)"><img src="@Url.Content(Model.MainImage)" alt="@Model.Title"></a></div>
                <hr class="line">
                @if (ViewBag.RelatedArticles != null && ViewBag.RelatedArticles.Count > 0)
                {
                    <div>
                        <h5>
                            Những bài viết khác
                        </h5>
                        <div>
                            <ol class="marked-list">
                                @foreach (var item in ViewBag.RelatedArticles)
                                {
                                    <li><a href="@Url.Content(item.Link)">@item.Title</a></li>
                                }
                            </ol>
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-9">
                @Html.Raw(Model.Content)
                @if (!string.IsNullOrEmpty(@Model.ButtonLink))
                {
                    <div class="hot-link"><a href="@Url.Content(Model.ButtonLink)"><i class="fa fa-hand-o-right"></i> @Model.ButtonName</a></div>
                }
            </div>
        </div> -->
    </div>
</section>

