@model IEnumerable<Biz4CMS.ViewModels.BriefArticleDto>
@{
    Layout = "~/Views/Shared/_LayoutNori.cshtml";
}

<section class="main-content">
    <div class="container">
        <div class="row" style="position: relative;">
            <div class="col-md-8">
@foreach (var item in Model)
{
    <article class="post">
        <div class="post-thumb">
            <a href="@item.PageURL"><img src="@Url.Content(item.MainImage)" alt="@item.Title"></a>
            <a href="@item.PageURL" class="post-thumb-overlay text-center">
                <div class="text-uppercase text-center">View Post</div>
            </a>
        </div>
        <div class="post-content">
            <header class="entry-header  text-uppercase">
                <h1 class="entry-title"><a href="@item.PageURL">@item.Title</a></h1>
            </header>
            <div class="entry-content">
                <p>
                    @item.Description
                </p>
                <div class="btn-continue-reading text-center text-uppercase">
                    <a href="@item.PageURL" class="more-link">Continue Reading</a>
                </div>
            </div>
        </div>
    </article>
}

@if (ViewBag.TotalPage > 1)
{
    <div class="text-center">
        <ul class="pagination">
            @if (ViewBag.PageIndex > 1)
            {
                <li>
                    <a href='@(Request.Url.AbsolutePath)?page=@(ViewBag.PageIndex - 1)'>
                        &laquo;
                    </a>
                </li>
            }
            @for (var i = 1; i <= ViewBag.TotalPage; i++)
            {

                <li class='@(ViewBag.PageIndex == i ? "active" : "")'>
                    <a href='@(Request.Url.AbsolutePath)?page=@i'>@i</a>
                </li>
            }
            @if (ViewBag.PageIndex < ViewBag.TotalPage)
            {
                <li>
                    <a href='@(Request.Url.AbsolutePath)?page=@(ViewBag.PageIndex + 1)'>
                        &raquo;
                    </a>
                </li>
            }
        </ul>
    </div>
}
          
            </div>
            @{Html.RenderAction("RightBox", "Home");}
        </div>
    </div>
</section>