@model IEnumerable<Biz4CMS.ViewModels.BriefArticleDto>
@{
    Layout = "~/Views/Shared/_LayoutNori.cshtml";
}


@foreach (var item in Model)
{
    <section class="article well-md container">
        <div class="row offset-5 flow-offset-1">
            <div class="col-md-6">
                <div class="image-wrap"><a href="@Url.Content(item.PageURL)"><img src="@Url.Content(item.MainImage)" alt="@item.Title"></a></div>
            </div>
            <div class="col-md-6">
                <h1><a href="@Url.Content(item.PageURL)">@item.Title</a></h1>
                <p>@item.Description</p>
                <a href="@Url.Content(item.PageURL)" class="btn btn-sm btn-primary">Chi tiết</a>
            </div>

        </div>
    </section>
}

@if (ViewBag.TotalPage > 1)
{
    <div class="text-center">
        <ul class="pagination">
            @if (ViewBag.PageIndex > 1)
            {
                <li>
                    <a href='@(Request.Url.AbsolutePath)?page=@(ViewBag.PageIndex - 1)'>
                        &laquo;
                    </a>
                </li>
            }
            @for (var i = 1; i <= ViewBag.TotalPage; i++)
            {

                <li class='@(ViewBag.PageIndex == i ? "active" : "")'>
                    <a href='@(Request.Url.AbsolutePath)?page=@i'>@i</a>
                </li>
            }
            @if (ViewBag.PageIndex < ViewBag.TotalPage)
            {
                <li>
                    <a href='@(Request.Url.AbsolutePath)?page=@(ViewBag.PageIndex + 1)'>
                        &raquo;
                    </a>
                </li>
            }
        </ul>
    </div>
}
          
            </div>
            
        </div>
    </div>
</section>
