@model IEnumerable<Biz4CMS.ViewModels.BriefArticleDto>
@{
    Layout = "~/Views/Shared/_LayoutNori.cshtml";
}

<section class="well-md">
            <div class="container">
                <h1>Khuyến mãi</h1>
                <div class="row offset-5 flow-offset-1">
                    @foreach (var item in Model)
                    {
                        <div class="col-xs-6 col-md-4">
                            <!-- News Post -->
                            <div class="news-post">
                                <a href="@Url.Content(item.PageURL)">
                                    <img src="/ImageBrowser/CropImage?w=370&h=200&path=@Url.Content(item.MainImage)" alt="@item.Title">
                                </a>
                                <time class="post-meta small" datetime="1957-10-04">2 days ago</time>
                                <div class="caption">
                                    <h5><a href="@Url.Content(item.PageURL)">@item.Title</a></h5>
                                    <p>@item.Description</p>
                                    @if(!string.IsNullOrEmpty(@item.ButtonLink)) {
                                        <div><a class="btn btn-nori" href="@Url.Content(item.ButtonLink)">@item.ButtonName</a> </div>
                                    }
                                </div>
                            </div>
                            <!-- END News Post -->
                        </div>
                    }
                    

                </div>
              
          




        @if (ViewBag.TotalPage > 1)
        {
            <div class="text-center">
                <ul class="pagination">
                    @if (ViewBag.PageIndex > 1)
                    {
                        <li>
                            <a href='@(Request.Url.AbsolutePath)?page=@(ViewBag.PageIndex - 1)'>
                                &laquo;
                            </a>
                        </li>
                    }
                    @for (var i = 1; i <= ViewBag.TotalPage; i++)
                    {

                        <li class='@(ViewBag.PageIndex == i ? "active" : "")'>
                            <a href='@(Request.Url.AbsolutePath)?page=@i'>@i</a>
                        </li>
                    }
                    @if (ViewBag.PageIndex < ViewBag.TotalPage)
                    {
                        <li>
                            <a href='@(Request.Url.AbsolutePath)?page=@(ViewBag.PageIndex + 1)'>
                                &raquo;
                            </a>
                        </li>
                    }
                </ul>
            </div>
        }

    </div>


  </div>
        </section>